<div class="container-fluid">
  
  <div class="panel panel-primary">
    <div class="panel-heading">Novo Pedido de Compra</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <select class="form-control" ng-model="vm.comprador" ng-options="comprador as comprador.nome for comprador in vm.compradores">
            <option value="">Selecione o comprador</option>
          </select>
        </div>

        <div class="col-xs-6">
          <select class="form-control" ng-model="vm.fornecedor" ng-options="fornecedor as fornecedor.razaoSocial for fornecedor in vm.fornecedores" ng-change="vm.listarProdutos(vm.fornecedor)">
            <option value="">Selecione o fornecedor</option>
          </select>
        </div>
      </div>
    </div>

    <div class="panel-body" ng-if="vm.produtos.length > 0">
      <table class="table table-responsive table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>Produto</th>
            <th>GTIN</th>
            <th>Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="produto in vm.produtos">
            <td>
              <span ng-bind="produto.descricao"></span>
            </td>
            <td>
              <span ng-bind="produto.gtin"></span>
            </td>
            <td>
              <span ng-bind="produto.preco | currency:'R$'"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
